<h1>Listing factures</h1>

<table>
  <tr>
    <th>Reference</th>
    <th>Societe</th>
    <th>Intitule</th>
    <th>Date facturation</th>
	<th>Statut</th>
	<th>Produits</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @factures.each do |facture| %>
  <tr>
    <td><%= facture.reference %></td>
	<td><%= facture.client.societe %></td>
    <td><%= facture.intitule %></td>
    <td><%= facture.date_facturation %></td>
    <td><%= facture.statut.libelle %></td>
	<td><%= facture.produits_list %></td>
    <td><%= link_to 'Show', facture %></td>
    <td><%= link_to 'Edit', edit_facture_path(facture) %></td>
    <td><%= link_to 'Destroy', facture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Facture', new_facture_path %>
