<%= form_for(@tva) do |f| %>
  <% if @tva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tva.errors.count, "error") %> prohibited this tva from being saved:</h2>

      <ul>
      <% @tva.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :libelle %><br />
    <%= f.text_field :libelle %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :display %><br />
    <%= f.check_box :display %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
