<p>
  <b>Libelle:</b>
  <%= @tva.libelle %>
</p>

<p>
  <b>Value:</b>
  <%= @tva.value %>
</p>

<p>
  <b>Display:</b>
  <%= @tva.display %>
</p>


<%= link_to 'Edit', edit_tva_path(@tva) %> |
<%= link_to 'Back', tvas_path %>
